@font-face {
  font-family: 'Harry Potter';
  src: url('../assets/font/HARRP___.eot') format('eot'),
    url('../assets/font/HARRP___.woff') format('woff'),
    url('../assets/font/HARRP___.ttf') format('truetype'),
    url('../assets/font/HARRP___.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
