.Card {
  min-width: 315px;
  max-width: 315px;
  min-height: 349.1px;
  text-align: center;
  display: grid;
  color: var(--text-primary);
  border: 1px solid;
  padding: 20px;
  margin: 30px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.Card:last-child {
  margin-bottom: 80px;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
}

.Card__image {
  border-radius: 10%;
  width: auto;
  justify-self: center;
  align-self: flex-end;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  will-change: transform;
  position: absolute;
  bottom: 0;
  width: 6400px;
  height: 150px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  -webkit-animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  z-index: -1;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.wave:nth-of-type(2) {
  height: 170px;
  bottom: -23px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 20s ease-in-out -0.075s infinite;
  -webkit-animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 20s ease-in-out -0.075s infinite;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: -170px;
  }

  100% {
    margin-left: -6000px;
  }
}

@-webkit-keyframes wave {
  0% {
    margin-left: -170px;
  }

  100% {
    margin-left: -6000px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}
