.AppHeader {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 10px 10px;
  position: fixed;
  width: 96%;
  margin: 0 2%;
  top: 1%;
  z-index: 30;
}

.AppHeader h1 {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 5px;
}

/* .AppHeader img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg)
    brightness(91%) contrast(101%);
} */

.flicker {
  -webkit-animation: flicker 2s ease-in-out infinite both;
  animation: flicker 2s ease-in-out infinite both;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  31.98% {
    opacity: 1;
  }

  32% {
    opacity: 0;
  }

  32.8% {
    opacity: 0;
  }

  32.82% {
    opacity: 1;
  }

  34.98% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  35.7% {
    opacity: 0;
  }

  35.72% {
    opacity: 1;
  }

  36.98% {
    opacity: 1;
  }

  37% {
    opacity: 0;
  }

  37.6% {
    opacity: 0;
  }

  37.62% {
    opacity: 1;
  }

  67.98% {
    opacity: 1;
  }

  68% {
    opacity: 0;
  }

  68.4% {
    opacity: 0;
  }

  68.42% {
    opacity: 1;
  }

  95.98% {
    opacity: 1;
  }

  96% {
    opacity: 0;
  }

  96.7% {
    opacity: 0;
  }

  96.72% {
    opacity: 1;
  }

  98.98% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  99.6% {
    opacity: 0;
  }

  99.62% {
    opacity: 1;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  31.98% {
    opacity: 1;
  }

  32% {
    opacity: 0;
  }

  32.8% {
    opacity: 0;
  }

  32.82% {
    opacity: 1;
  }

  34.98% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  35.7% {
    opacity: 0;
  }

  35.72% {
    opacity: 1;
  }

  36.98% {
    opacity: 1;
  }

  37% {
    opacity: 0;
  }

  37.6% {
    opacity: 0;
  }

  37.62% {
    opacity: 1;
  }

  67.98% {
    opacity: 1;
  }

  68% {
    opacity: 0;
  }

  68.4% {
    opacity: 0;
  }

  68.42% {
    opacity: 1;
  }

  95.98% {
    opacity: 1;
  }

  96% {
    opacity: 0;
  }

  96.7% {
    opacity: 0;
  }

  96.72% {
    opacity: 1;
  }

  98.98% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  99.6% {
    opacity: 0;
  }

  99.62% {
    opacity: 1;
  }
}

.vibrate {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
